<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="vertical-container">
        <div class="container">
            <h1>User Sign In.</h1>
        </div>
    
        <div class="vertical-container" style="width:100%">
            <form action="/auth/login" method="POST">
                {{msg if msg}}
                <br>
                <input type="username" name="username" placeholder="Username"> 
                <br>
                <br>
                <input type="password" name="password" placeholder="Password">
                <br>
                <br>
                <input class="btn" type="submit" value="Login"> 
            </form>
        </div>
    </div>
</body>

</html>